<!doctype html>

<html lang="en">

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="login.css" >
</head>

<body class="container">

    <div class="row">
            <div class="card col-sm-12">
                <h5 class="card-header text-center">Create New User</h5>
                <div class="card-body"> 
                    <!-- FORM HERE FOR CREATING USER  -->
                    <form action="/createuser" method="POST">
                        <div class="form-group">
                            <label for="newEmail">Email address</label>
                            <input type="email" class="form-control" id="newEmail" name="email" placeholder="Email">
                            <label for="newPass">Password</label>
                            <input type="password" class="form-control" id="newPass" name="password" placeholder="Password">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="firstname" placeholder="First Name">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lastname" placeholder="Last Name">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="radio1" value="user" checked="checked">
                                <label class="form-check-label" for="radio1">
                                  User Account
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="radio2" value="manager">
                                <label class="form-check-label" for="radio2">
                                  Manager Account
                                </label>
                            </div>
                            <label class="mr-sm-2" for="selectManager">User Accounts must select a manager:</label>
                            <select class="custom-select mr-sm-2" id="selectManager" name="userNumber" required>
                            <option selected disabled>Choose...</option>
                                <%        Users.forEach(function(ele, i){       %>
                                <%        if (ele.isManager === true){         %>
                            <option value="<%= ele.id %>">
                                <%=     ele.firstname                           %> 
                                <%=     ele.lastname                            %>
                                </option>
                                <%  }   });                                     %>
                            </select>

                            <input type="submit" class="btn btn-primary" value="Create New User">
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="card col-sm-6">
            <h5 class="card-header text-center"> Select A User Account</h5>
            <!-- FORM FOR MOVING TO USER PAGE -->
            <form action="/accessuser" method="POST" class="card-body">
                <label class="mr-sm-2" for="userId">Available User Accounts:</label>
                <select class="custom-select mr-sm-2" id="userId" name="userNumber" required>
                <option selected disabled>Choose...</option>
                    <%        Users.forEach(function(ele, i){       %>
                    <%        if (ele.isManager === false){         %>
                <option value="<%= ele.id %>">
                    <%=     ele.firstname                           %> 
                    <%=     ele.lastname                            %>
                    </option>
                    <%  }   });                                     %>
                </select>
                <input type="submit" class="btn btn-primary" value="Access User">
            </form>    
        </div>
        <div class="card col-sm-6">
            <h5 class="card-header text-center"> Select A Manager Account</h5>
            <!-- FORM FOR MOVING TO MANAGER PAGE -->
            <form action="accessmanager" method="POST" class="card-body">
                <label class="mr-sm-2" for="uAccount">Available Manager Accounts:</label>
                <select class="custom-select mr-sm-2" id="userId" name="userNumber" required>
                <option selected disabled>Choose...</option>
                    <%        Users.forEach(function(ele, i){       %>
                    <%        if (ele.isManager === true){         %>
                <option value="<%= ele.id %>">
                    <%=     ele.firstname                           %> 
                    <%=     ele.lastname                            %>
                    </option>
                    <%  }   });                                     %>
                </select>
                <input type="submit" class="btn btn-primary" value="Access Manager">
            </form>    
        </div>
    </div>
    <%- include('partials/footscripts') %>
</body>
</html>

