<!doctype html>

<html lang="en">

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" type="text/css" href="login.css" >
</head>

<body class="container">
    <div class="row">
            <h5 class="text-center col-sm-12">MANAGER ACCOUNT: 
                <%= userInfo.firstname %>
                <%= userInfo.lastname %>
            </h5>
    </div>
    <div class="row">
        <div class= "card col-md-12 text-center">
            <h6 class= "card-header">Current Schedules</h6>
                <table class= "table">
                  <thead>
                      <tr>
                          <th>ScheduleID</th>
                          <th>Schedule Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Edit</th>
                          <th>Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                    <%        schInfo.forEach(function(ele, i){       %>
                        <tr>
                        <td> <%=     ele.scheduleId       %> </td>
                        <td> <%=     ele.scheName       %> </td>
                        <td> <%=     ele.startdate       %> </td>
                        <td> <%=     ele.enddate       %> </td>
                        <td>    <a href="/schedule/<%=  ele.scheduleId  %>" class="btn btn-primary">Edit</a> </td>
                        <td>    <a href="/manager/delete/<%=  ele.scheduleId  %>" class="btn btn-danger">Delete</a> </td>
                        </tr>
                            <%    });                  %>
                  </tbody>
                </table>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-12 text-center">
            <h6 class="card-header">Create New Schedule</h6>
            <div class="card-body">
                <form action="/manager/create" method="POST" >
                    <label for="schName">Schedule Name:</label>
                    <input type="text" id="schName" name="name" placeholder="Schedule Name">
                    <label for="schName">Start Date:</label>
                    <input type="date" id="schName" name="startdate" placeholder="Schedule Name">
                    <label for="schName">End Date:</label>
                    <input type="date" id="schName" name="enddate" placeholder="Schedule Name">
                    <input type="hidden" name="employeeId" value= "<%= userInfo.employeeID %>">
                    <input type="submit" class="btn btn-primary" value="submit">
                </form>

            </div>




        </div>
    </div>

    <div class="row">
        <div class="card col-sm-6">
            <h6 class="card-header text-center"> Time Off Requests</h6>
            <div class="card-body">
                <table class= "table">
                    <thead>
                        <tr>
                            <th>employeeID</th>
                            <th>Employee Comment</th>
                            <th>Date</th>
                            <th>Approved</th>
                            <th>Select</th>

                        </tr>
                    </thead>
                    <tbody>
                      <%        timeOff.forEach(function(ele, i){       %>
                          <tr>
                          <td> <%=     ele.employeeID       %> </td>
                          <td> <%=     ele.comment       %> </td>
                          <td> <%=     ele.date       %> </td>
                          <td> <%=     ele.approvalStatus       %> </td>
                          <td>    <a href="/timeoff/approve/<%=  ele.requestId  %>" class="btn btn-success">Approve</a> 
                                    <a href="/timeoff/deny/<%=  ele.requestId %>" class="btn btn-danger">Deny</a> 
                            </td>
                          </tr>
                              <%    });                  %>
                    </tbody>
                  </table>


            </div>

        </div>
        <div class="card col-sm-6">
            <h6 class="card-header text-center"> Employees</h6>
            <div class="card-body">
                <table class= "table">
                    <thead>
                        <tr>
                            <th>employeeID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                      <%        employeeInfo.forEach(function(ele, i){       %>
                          <tr>
                          <td> <%=     ele.id       %> </td>
                          <td> <%=     ele.firstname       %> </td>
                          <td> <%=     ele.lastname       %> </td>
                          <td>    <a href="/userdelete/<%=  ele.id %>" class="btn btn-danger">Delete</a>  </td>
                          </tr>
                              <%    });                  %>
                    </tbody>
                  </table>


            </div>
 
 
        </div>
    </div>






    <%- include('partials/footscripts') %>
</body>
</html>