<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Schedule Creator</title>
  <link rel="stylesheet" type="text/css" href="#" >
</head>

<body>
    <a href="/manager">Manager Page</a>
    <% var Sid = shift.scheduleID %>
    <a href="/scheduler/<%= Sid %>">Schedule Page</a>
    <a href="/logout">Logout</a>




      <form action="#" method="POST">
        <h4>Add an employee to this shift </h4>


        <%        employees.forEach(function(ele, i){     %>
            <% var Eid = employees[i].id %>
            <% var Nid = employees[i].username %>
        <li>
        <label for="label<%=Nid%>">
             <%= Nid %> </label>
        <input type="radio" id="label<%=Nid%>" name="type" value="<%=Eid%>">
        </li>
        <% }); %>
        <input type="submit" value="Add Employee">

    </form>
</body>
